body {
    font-family: Poppins;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    }
    .flexiable-cantainer {
        display: flex;
    }
    .half-width {
        width: 50%;
        padding: 0 5%;
    }
   
 /* welcome section css*/
 .welcome-section {
    background-image: url(images/top-banner.png);
    padding: 5% 0;
    background-repeat: no-repeat;
}
    .right-side img{
  width: 100%;   
 }
 /* - deeam section css --> */
 .dreram-big  {
    background-image: url(images/dream-bg.png);
    padding: 5% 0;
    background-repeat: no-repeat;
    background-position: right;
} 

     
 